<!DOCTYPE html>
<html>

<head>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        table {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>

<body>
    <form onsubmit="return validateForm()">
        <table>
            <tr>
                <td>Old Password:</td>
                <td><input type="password" id="old_password" name="old_password"></td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td><input type="password" id="new_password" name="new_password"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit" name="action" value="password">Update</button>
                </td>
            </tr>
        </table>
    </form>

    <script>
        function validateForm() {

            let old_password = document.getElementById('old_password').value;
            let new_password = document.getElementById('new_password').value;


            if (!old_password || !new_password) {
                alert("Both fields are required!");
                return false; 
            }

            
            let data = { old_password, new_password };


            let Cdata = JSON.stringify(data);


            let xhttp = new XMLHttpRequest();
            xhttp.open('POST', '../../../Controller/UserProfile/UpdateInfo/password.php', true);
            xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');


            xhttp.send('mydata=' + Cdata);


            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let response = JSON.parse(this.responseText);
                    
                    if (response.action == "successfull") {
                        window.location.href = "../userprofile.php?id=" + response.id;
                    }
                    else if (response.action == "error") {
                        alert("Error updating password. Please try again.");
                    } 
                }

            };

            return false;
        }
    </script>
</body>

</html>